body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

// .App {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

/* ----------//////////HOMEPAGE//////////---------- */
.HomePage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.HomePage__content {
  flex: 1;
  background-image: url("/assets/home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.HomePage__text {
  margin-left: 5%;
  margin-top: 10%;
  width: 45%;
  background: black;
  border-radius: 8px;
  opacity: 0.7;
  color: white;
}
/* ----------//////////FOOTER//////////---------- */
.footer {
  width: 100%;
  height: 50px;
  background-color: #051111;
  color: #eeeeee;
}

.footer__content {
  margin-left: 2%;
  margin-top: 10px;
}

.footer__link {
  text-decoration: none;
  color: white;
}

.footer__link:hover {
  position: relative;
  color: transparent;
  transition-duration: 0.3s;
  background: linear-gradient(
      to right,
      #13f3b9 0%,
      #5878f3 50%,
      transparent 50%
    )
    100% 0 / 200% 200% #474e51;
  background-clip: text;
}

.footer__link:hover {
  background-position: 0 0;
  text-decoration: none;
}

/* ----------//////////NAVBAR//////////---------- */

.navbar {
  background-color: #051111;
  color: white;
}

.navbar-brand {
  transition: transform 1s;
}

.navbar-brand:hover {
  transform: rotate(90deg);
}

.borderLeftRight {
  display: inline-block;
  position: relative;
  color: #858b8b;
}

.borderLeftRight::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #858b8b;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.borderLeftRight:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* ----------//////////BOXCOUNTRIES//////////---------- */

// .BoxCountries {
//   text-decoration: none;
// }

.BoxCountries > ul {
  margin: 0 auto;
}

.BoxCountries__card > li {
  list-style-type: none;
}

.BoxCountries__card {
  // margin: 20px;
  height: 220px;
  width: 300px;
  overflow: auto;
  border: 1px;
  box-shadow: 3px 3px 6px 0 #a9a9a9;
  padding-top: 30px;
  border-radius: 2%;
  margin-bottom: 15px;
}

.BoxCountries__card__flag {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 50px;
  transition: transform 1s;
  text-decoration: none;
}

.BoxCountries__card > li > p,
.BoxCountries__card > li > h5 {
  text-align: center;
}

.Countries__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.BoxCountries__card:hover {
  background-color: #e4e6e6;
  .BoxCountries__card__flag {
    transform: translate(-100px, -40px) scale(0.5);
  }
}

.BoxHover__table {
  table-layout: fixed;
  width: 300px;
}

.BoxHover__table > td {
  overflow: hidden;
  white-space: nowrap;
}

// .BoxHover__background {
//   background-color: grey;
//   border-radius: 3px;
//   height: 18px;
// }

.BoxHover__fill {
  background-color: green;
  border-radius: 3px;
  height: 20px;
}

/* ----------//////////COUNTRIESDETAIL//////////---------- */
.CountriesDetail {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.CountriesDetail__content {
  flex: 1;
  background-image: url("/assets/countries.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // opacity: 0.5;
}
.CountriesDetail__card {
  border: 1px solid #a9a9a9;
  box-shadow: 3px 3px 6px 0 #a9a9a9;
  border-radius: 8%;
  margin: 100px;
  @media (max-width: 992px) {
    margin: 0;
  }
}

.CountriesDetail__card__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #051111;
  color: white;
  border-radius: 5px;
  padding: 20px;
}

.link__header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.flag__header {
  font-size: 70px;
}

.fas {
  font-size: 20px;
  color: white;
  background: black;
}
.CountriesDetail__card__table-global {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  background-color: white;
  @media (max-width: 992px) {
    padding: 10px;
    flex-direction: column;
  }
}
.CountriesDetail__card__table {
  margin: 0 auto;
  width: 600px;
  flex: 2;
  background-color: white;
  table-layout: fixed;
  @media (max-width: 576px) {
    font-size: 15px;
    width: 350px;
  }
}

.CountriesDetail__card__table > td {
  overflow: hidden;
  white-space: nowrap;
}

.CountriesDetail__fill {
  background-color: green;
  border-radius: 3px;
  height: 20px;
  width: 200px;
}

/* ----------//////////INDICATORS//////////---------- */
.Indicators {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Indicators__dataviz {
  flex: 1;
}
