body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----------//////////HOMEPAGE//////////---------- */
.HomePage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.HomePage__content {
  flex: 1;
  background-image: url("/assets/home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.HomePage__text {
  margin-left: 5%;
  margin-top: 10%;
  width: 45%;
  background: black;
  border-radius: 8px;
  opacity: 0.7;
  color: white;
}
/* ----------//////////FOOTER//////////---------- */
.footer {
  width: 100%;
  height: 50px;
  background-color: #051111;
  color: white;
}

.footer__content {
  margin-left: 2%;
}

[data-route="/"] {
  // .HomePage__text {
  //   position: absolute;
  //   left: 30%;
  //   top: 31%;
  //   background: white;
  //   box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
  // }
}

/* ----------//////////NAVBAR//////////---------- */

.navbar {
  background-color: #051111;
  color: white;
}

.navbar-brand {
  transition: transform 1s;
}

.navbar-brand:hover {
  transform: rotate(90deg);
}

/* ----------//////////BOXCOUNTRIES//////////---------- */

// .BoxCountries {
//   text-decoration: none;
// }

.BoxCountries > ul {
  margin: 0 auto;
}

.BoxCountries__card > li {
  list-style-type: none;
}

.BoxCountries__card {
  // margin: 20px;
  height: 220px;
  width: 300px;
  overflow: auto;
  border: 1px;
  box-shadow: 3px 3px 6px 0 #a9a9a9;
  padding-top: 30px;
  border-radius: 2%;
}

.BoxCountries__card__flag {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 50px;
  transition: transform 1s;
  text-decoration: none;
}

.BoxCountries__card > li > p,
.BoxCountries__card > li > h5 {
  text-align: center;
}

.Countries__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.BoxCountries__card:hover {
  background-color: #e4e6e6;
  .BoxCountries__card__flag {
    transform: translate(-100px, -40px) scale(0.5);
  }
}

.BoxHover__table {
  table-layout: fixed;
  width: 300px;
}

.BoxHover__table > td {
  overflow: hidden;
  white-space: nowrap;
}

// .BoxHover__background {
//   background-color: grey;
//   border-radius: 3px;
//   height: 18px;
// }

.BoxHover__fill {
  background-color: green;
  border-radius: 3px;
  height: 20px;
}

/* ----------//////////COUNTRIESDETAIL//////////---------- */
.CountriesDetail {
  background-image: url("/assets/background-countries.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.CountriesDetail__table {
  background-color: white;
  table-layout: fixed;
  min-width: 600px;
  border: 1px solid black;
}

.CountriesDetail__table > td {
  overflow: hidden;
  white-space: nowrap;
}

.CountriesDetail__fill {
  background-color: green;
  border-radius: 3px;
  height: 20px;
}
